<settings>
    <proxies>
    <proxy>
      <id>proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>155.55.65.13</host>
      <port>8088</port>
    </proxy>
  </proxies>
    <profiles>
    <profile>
      <id>test</id>
        <activation>
        <activeByDefault>true</activeByDefault>
        </activation>
    <repositories>
        <repository>
          <id>internal</id>
          <name>internal</name>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>http://155.55.3.119</url>
          <layout>default</layout>
        </repository>
      </repositories>
        </profile>
    </profiles>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <!--
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>
                  http://sonarqube-cicd.apps.ocp.ninja
                </sonar.host.url>
            </properties>
        </profile>
     </profiles>
      -->
    <activeProfiles>
    <activeProfile>test</activeProfile>
  </activeProfiles>
</settings>
