<settings>
    <proxies>
        <proxy>
            <id>proxy_http</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>155.55.65.13</host>
            <port>8088</port>
        </proxy>
        <proxy>
            <id>proxy_https</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>155.55.65.13</host>
            <port>8088</port>
        </proxy>
    </proxies>
    <profiles>
        <profile>
            <id>test</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>internal</id>
                    <name>internal</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <url>https://maven.adeo.no/nexus/content/groups/public</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
